<span class="playericons">
  <figure class="playerelements">
    <img src="../../assets/003-playlist.svg" alt="playlist icon" />
    <figcaption>Playlist</figcaption>
  </figure>
  <figure class="playerelements">
    <img src="../../assets/002-shuffle.svg" alt="shuffle icon" />
    <figcaption>Shuffle</figcaption>
  </figure>
  <figure class="playerelements">
    <img src="../../assets/001-repeat.svg" alt="repeat icon" />
    <figcaption>Repeat</figcaption>
  </figure>
  <figure class="playerelements">
    <img src="../../assets/eq.svg" alt="eq icon" />
    <figcaption>EQ</figcaption>
  </figure>
  <figure class="playerelements">
    <img src="../../assets/heart.svg" alt="favourites icon" />
    <figcaption>Favourites</figcaption>
  </figure>
</span>
