<li class="menuItem">
  <img src="../../assets/001-paint.svg" alt="Paint icon" />
  <span class="menuText">Themes</span>
</li>
<li class="menuItem">
  <img src="../../assets/002-scissors.svg" alt="scissors icon" />
  <span> Ringtone Cutter</span>
</li>
<li class="menuItem">
  <img src="../../assets/003-stopwatch.svg" alt="stopwatch icon" />
  <span> Sleep Timer</span>
</li>
<li class="menuItem">
  <img src="../../assets/004-sound-bars.svg" alt="equaliser icon" />
  <span> Equaliser</span>
</li>
<li class="menuItem">
  <img src="../../assets/13-car.svg" alt="car icon" />
  <span> Drive Mode</span>
</li>
<li class="menuItem">
  <img src="../../assets/006-folder.svg" alt="folder icon" />
  <span> Hidden Folders</span>
</li>
