<ul class="sidebar">
  <li class="sidebar__item">
    <img src="../../assets/001-paint.svg" alt="Paint icon" />
    <span class="sidebar__text">Themes</span>
  </li>
  <li class="sidebar__item">
    <img src="../../assets/002-scissors.svg" alt="scissors icon" />
    <span class="sidebar__text"> Ringtone Cutter</span>
  </li>
  <li class="sidebar__item">
    <img src="../../assets/003-stopwatch.svg" alt="stopwatch icon" />
    <span class="sidebar__text"> Sleep Timer</span>
  </li>
  <li class="sidebar__item">
    <img src="../../assets/004-sound-bars.svg" alt="equaliser icon" />
    <span class="sidebar__text"> Equaliser</span>
  </li>
  <li class="sidebar__item">
    <img src="../../assets/13-car.svg" alt="car icon" />
    <span class="sidebar__text"> Drive Mode</span>
  </li>
  <li class="sidebar__item">
    <img src="../../assets/006-folder.svg" alt="folder icon" />
    <span class="sidebar__text"> Hidden Folders</span>
  </li>
</ul>
