<ul>
  <li class="menuItem">
    <img src="../../assets/001-paint.svg" alt="Paint icon" />
    <span class="menuText">Themes</span>
  </li>
  <li class="menuItem">
    <img src="../../assets/002-scissors.svg" alt="scissors icon" />
    <span class="menuText"> Ringtone Cutter</span>
  </li>
  <li class="menuItem">
    <img src="../../assets/003-stopwatch.svg" alt="stopwatch icon" />
    <span class="menuText"> Sleep Timer</span>
  </li>
  <li class="menuItem">
    <img src="../../assets/004-sound-bars.svg" alt="equaliser icon" />
    <span class="menuText"> Equaliser</span>
  </li>
  <li class="menuItem">
    <img src="../../assets/13-car.svg" alt="car icon" />
    <span class="menuText"> Drive Mode</span>
  </li>
  <li class="menuItem">
    <img src="../../assets/006-folder.svg" alt="folder icon" />
    <span class="menuText"> Hidden Folders</span>
  </li>
</ul>
