.track {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  column-gap: 30px;
}
.track__title,
.track__artist {
  margin: 0;
}
.playbutton {
  background-color: transparent;
  border: none;
}
.track__title {
  font-size: 0.9rem;
  color: #ffffff70;
}
.track__artist {
  font-size: 0.7rem;
  color: #ffffff40;
}
