.track {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  column-gap: 30px;
}

.playbutton {
  background: transparent;
  border: none;
}
.track__title {
  font-size: 0.9rem;
  color: #ffffff70;
  margin: 0;
}
.track__artist {
  font-size: 0.7rem;
  color: #ffffff40;
  margin: 0;
}
.track__img {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  border: 1px solid #ffffff57;
}
