.bottomnav {
  display: flex;
  justify-content: space-evenly;
  /* left: 0;
  right: 0; */
  width: 100vw;
  /* position: fixed;
  bottom: 0; */
  margin: auto;
  /* max-width: 22rem; */
  background-color: #151827;
  box-shadow: 0 -0.2rem 4px #00000040;
}

.navelements {
  text-align: center;
  font-size: 0.5rem;
}

.active {
  color: #d9519d;
}

.inactive {
  color: #63666e;
}
