.btn-primary {
  border-radius: 20px;
  font-size: 0.5rem;
  color: white;
  border: none;
  padding: 5px 20px;
  background: linear-gradient(#ed8770, #d9519d);
  display: flex;
  align-items: center;
}

.btn {
  border-radius: 20px;
  font-size: 0.5rem;
  color: white;
  border: 1px solid white;
  padding: 5px 20px;
  background: transparent;
  display: flex;
  align-items: center;
}
.btn-primary > :first-child,
.btn > :first-child {
  margin-right: 10px;
}
