.btn {
  border-radius: 20px;
  font-size: 0.5rem;
  color: white;
  border: 1px solid white;
  padding: 5px 20px;
  background: transparent;
  display: flex;
  align-items: center;
  min-width: 100px;
  justify-content: center;
}

.btn > :first-child {
  margin-right: 10px;
}

.btn-primary {
  border: none;
  background: linear-gradient(#ed8770, #d9519d);
}
