<h3>Recently Played</h3>
<span>View all</span>
<ul class="recent">
  <li class="recent__item">
    <img src="../../assets/playbutton-active.svg" alt="playbutton icon" />

    <span class="recent__title">
      Billie Jean
      <span><img src="../../assets/heart-active.svg" alt="" /></span>
      <p class="recent__artist">Michael Jackson</p></span
    >
  </li>
  <li class="recent__item">
    <img src="../../assets/playbutton-active.svg" alt="playbutton icon" />
    <span class="recent__title"
      >Earth Song
      <p class="recent__artist">Michael Jackson</p></span
    >
  </li>
  <li class="recent__item">
    <img src="../../assets/playbutton-active.svg" alt="playbutton icon" />
    <span class="recent__title"
      >Mirror
      <p class="recent__artist">Justin Timberlake</p></span
    >
  </li>
  <li class="recent__item">
    <img src="../../assets/playbutton-active.svg" alt="playbutton icon" />
    <span class="recent__title"
      >Remember the Time
      <p class="recent__artist">Michael Jackson</p></span
    >
  </li>
</ul>
