<h3>Recently Played</h3>
<span>View all</span>
<ul class="recent">
  <li class="recent__item">
    <img src="../../assets/playbutton-active.svg" alt="playbutton icon" />
    <span class="recent-title">Billie Jean</span>
    <p class="recent-artist">Michael Jackson</p>
  </li>
  <li class="recent__item">
    <img src="../../assets/playbutton-active.svg" alt="playbutton icon" />
    <span class="recent-title">Earth Song</span>
    <p class="recent-artist">Michael Jackson</p>
  </li>
  <li class="recent__item">
    <img src="../../assets/playbutton-active.svg" alt="playbutton icon" />
    <span class="recent-title">Mirror</span>
    <p class="recent-artist">Justin Timberlake</p>
  </li>
  <li class="recent__item">
    <img src="../../assets/playbutton-active.svg" alt="playbutton icon" />
    <span class="recent-title">Remember the Time</span>
    <p class="recent-artist">Michael Jackson</p>
  </li>
</ul>
