<div class="recently-played">
  <div class="recent__head">
    <span>Recently Played</span>
    <span>View all</span>
  </div>
  <ul class="recent">
    <li class="recent__item">
      <img
        class="playbutton"
        src="../../assets/playbutton-active.svg"
        alt="playbutton icon"
      />
      <span class="recent__title">
        Billie Jean
        <p>Michael Jackson</p></span
      >
      <span class="recent__artist"
        ><img src="../../assets/heart-active.svg" alt="heart icon" />
        <div>
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-empty.svg" alt="star icon" />
        </div>
      </span>
    </li>
    <li class="recent__item">
      <img
        class="playbutton"
        src="../../assets/playbutton-active.svg"
        alt="playbutton icon"
      />
      <span class="recent__title">
        Earth Songp
        <p>Michael Jackson</p>
      </span>
      <span class="recent__artist">
        <img src="../../assets/heart-active.svg" alt="heart icon" />
        <div>
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-empty.svg" alt="star icon" />
        </div>
      </span>
    </li>
    <li class="recent__item">
      <img
        class="playbutton"
        src="../../assets/playbutton-active.svg"
        alt="playbutton icon"
      />
      <span class="recent__title"
        >Mirror
        <p>Justin Timberlake</p>
      </span>
      <span class="recent__artist">
        <img src="../../assets/heart-active.svg" alt="heart icon" />
        <div>
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-empty.svg" alt="star icon" />
        </div>
      </span>
    </li>
    <li class="recent__item">
      <img
        class="playbutton"
        src="../../assets/playbutton-active.svg"
        alt="playbutton icon"
      />
      <span class="recent__title"
        >Remember the Time
        <p>Michael Jackson</p>
      </span>
      <span class="recent__artist">
        <img src="../../assets/heart-active.svg" alt="heart icon" />
        <div>
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-full.svg" alt="star icon" />
          <img src="../../assets/star-empty.svg" alt="star icon" /></div
      ></span>
    </li>
  </ul>
</div>
