.btn {
  border-radius: 20px;
  font-size: 0.5rem;
  color: white;
  border: solid 1px white;
  padding: 5px 20px;
  background: transparent;
  display: flex;
  align-items: center;
}
.btn > img {
  margin-right: 10px;
}

/* btn > :first-child {
  margin-right: 10px; 
  und dann den Text in einen span setzen */
