.btn {
  border-radius: 20px;
  font-size: 8px;
  color: white;
  border: none;
  padding: 5px 20px;
  background: linear-gradient(#ed8770, #d9519d);
  display: flex;
  align-items: center;
}
.btn > img {
  margin-right: 10px;
}

/* btn > :first-child {
  margin-right: 10px; 
  und dann den Text in einen span setzen */
