.btn {
  border-radius: 20px;
  font-size: 8px;
  color: white;
  border: none;
  padding: 8px 30px;
  background: linear-gradient(#ED8770, #D9519D);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  padding-right: 10px;
}